<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <!-- Define variables that will be set from code -->
  <variable name="logDirectory" value="logs" />

  <!-- Define targets -->
  <targets>
    <!-- File Target - All logs -->
    <target xsi:type="File" name="allfile" fileName="${var:logDirectory}\pdisitedatasync-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- File Target - Errors only -->
    <target xsi:type="File" name="errorfile" fileName="${var:logDirectory}\pdisitedatasync-error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Console Target -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Errors only -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />

    <!-- Console output for Info and above -->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
